html {
	scroll-behavior: smooth;
}
body {
	font-family: sans-serif;
	background: rgba(168, 165, 165, 0.6);
	margin: 0;
}
.logo {
	width: 150px;
	height: 80px;
}
#nav {
	padding: 30px;
}
section {
	margin: 100px;
	padding: 2rem;
}
/*NAVBAR*/
.navbar {
	background-color: #070707;
	top: 0;
	width: 100%;
	justify-content: center;
	position: fixed;
	display: flex;
}
.navbar a {
	font-weight: 200;
	color: white;
	padding: 14px 16px;
	text-decoration: none;
}
.anchor {
	display: block;
	position: relative;
	top: -70px;
	visibility: hidden;
}
/*HEADER*/
.header1 {
	height: 100vh;
	background-image: url(../images/headphones_black_close_up_153018_3840x2400.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin-bottom: 0;
	display: flex;
	flex-direction: column;
}
.header1-text {
	/*TAGLINE*/
	font-weight: 400;
	font-size: 2em;
	color: white;
	text-align: center;
	padding-top: 150px;
}
.header1-text h1 {
	/*NAME*/
	font-weight: 800;
	font-size: 3em;
	margin-bottom: 0;
}
.header1-text p {
	margin: 0;
}
/*SOCIAL*/
.social-ul {
	text-align: center;
	padding-left: 0;
}
.social-li {
	display: inline-block;
	list-style: none;
}
.social {
	font-size: 2em;
	color: white;
	padding: 20px;
	bottom: 0;
}

/*ABOUT*/
.doc-sec {
	display: flex;
}
.white {
	background: white;
}
div {
	justify-content: center;
}
.main-content {
	flex: 0 0 66.6%;
	margin-top: 2rem;
	margin-bottom: 3rem;
}
h2 {
	font-weight: 200;
	font-size: 2rem;
	color: #31b0d5;
	text-transform: uppercase;
	text-align: center;
}
.content-body {
	line-height: 1.5;
	color: rgba(0, 0, 0, 0.75);
}
