html {
	scroll-behavior: smooth;
}
body {
	font-family: sans-serif;
	background: rgba(168, 165, 165, 0.6);
	margin: 0;
}
.logo {
	width: 150px;
	height: 80px;
}
#nav {
	padding: 30px;
}
section {
	margin: 100px;
	padding: 2rem;
}
/*NAVBAR*/
.navbar {
	background-color: #070707;
	top: 0;
	width: 100%;
	justify-content: center;
	position: fixed;
	display: flex;
}
.navbar a {
	font-weight: 200;
	color: white;
	padding: 14px 16px;
	text-decoration: none;
}
.anchor {
	display: block;
	position: relative;
	top: -70px;
	visibility: hidden;
}
/*HEADER*/
.header1 {
	height: 100vh;
	background-image: url(../images/headphones_black_close_up_153018_3840x2400.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin-bottom: 0;
	display: flex;
	flex-direction: column;
}
.header1-text {
	/*TAGLINE*/
	font-weight: 400;
	font-size: 2em;
	color: #3498db;
	text-align: center;
	padding-top: 150px;
}
.header1-text h1 {
	/*NAME*/
	font-weight: 800;
	font-size: 3em;
	margin-bottom: 0;
}
.header1-text p {
	margin: 0;
}
/*SOCIAL*/
.social-ul {
	text-align: center;
	padding-left: 0;
}
.social-li {
	display: inline-block;
	list-style: none;
}
.social {
	font-size: 2em;
	color: white;
	padding-top: 120px;
	bottom: 0;
}

/*ABOUT*/
.doc-sec {
	display: flex;
}
.white {
	background: white;
}
div {
	justify-content: center;
}
.main-content {
	flex: 0 0 66.6%;
	margin-top: 2rem;
	margin-bottom: 3rem;
}
h2 {
	font-weight: 200;
	font-size: 2rem;
	color: #31b0d5;
	text-transform: uppercase;
	text-align: center;
}
.content-body {
	line-height: 1.5;
	color: rgba(0, 0, 0, 0.75);
}

/*EDUCATION*/
.card {
	display: flex;
	flex-direction: column;
	background-color: white;
	border: 1px solid #070707;
	border-radius: 0.25rem;
	margin-bottom: 30px;
}
.card-header {
	padding: 0.75rem 1.25rem;
	background-color: #31b0d5;
	border-bottom: 1px solid #070707;
	border-top-left-radius: 0.25rem;
	border-top-right-radius: 0.25rem;
}
.card-content {
	padding: 0.25rem 1.25rem;
	flex: 1 1 auto;
}
h4 {
	margin: 0;
	font-weight: 400;
	color: #070707;
}
.duration {
	float: right;
}

/*PROJECTS*/
.p-card {
	display: flex;
	flex-direction: row;
	background-color: white;
	border: 1px solid #070707;
	border-radius: 5px;
	margin-bottom: 30px;
}
.p-content {
	flex: 1 1 auto;
	padding: 1.25rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

/*SKILLS*/
.ul-skills {
	text-align: center;
	padding-left: 0;
}
.li-skills {
	display: inline-block;
	margin: 7px;
	padding: 5px 10px;
	color: white;
	background: #31b0d5;
	list-style: none;
	cursor: default;
	font-size: 1.2em;
}
/*CONTACT*/
.blue {
	background: #3498db;
	text-align: center;
}
.contact {
	max-width: 500px;
	margin: 0 auto;
}
.white-text {
	color: white;
}
